<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	id="com.voodoowarez.cordova.networkdisco"
	version="1.0.0">

	<name>NetworkDiscoPlugin</name>

	<engines>
		<engine name="cordova" version=">=3.2.0" />
	</engines>

	<js-module src="www/NetworkDiscoPlugin.js" name="NetworkDiscoPlugin">
		<clobbers target="NetworkDiscoPlugin" />
	</js-module>
	<js-module src="node_modules/q/q.js" name="q">
		<clobbers target="q" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="NetworkDiscoPlugin">
				<param name="android-package" value="com.voodoowarez.cordova.networkdisco.NetworkDiscoPlugin"/>
			</feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		</config-file>
		
		<source-file src="src-android/com/voodoowarez/cordova/networkdisco/NetworkDiscoPlugin.java" target-dir="src/com/voodoowarez/cordova/networkdisco"/>
	</platform>
</plugin>
